# Scraping www.huizenzoeker.nl/woningmarkt/ for all municipalities in the Netherlands

### ODCM project - Team 3

Which municipalities in the Netherlands are hit hardest by the Dutch Housing crisis, and which the least? 
We use the site www.huizenzoeker.nl/woningmarkt/ to analyse the Dutch Housing Market, including the gem. vraagprijs, # verkochte woningen, gem. vierkante meter prijs, % overboden.

## Step 1: Loading all the basics

Here we import the packages we will use. Set the url, request the url and set the html.parser.

In [78]:
#import the packages (after you have installed them properly)
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd 
from functools import reduce

In [79]:
#set the basis for BeautifulSoup 
url = 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/veldhoven/'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

## Step 2: Collecting the URLs

Here we generate a base_url which is the same for all municipalities, for all provinces of the Netherlands. Then we generate a city_url for the specific province and the municipality in that province.

In [3]:
base_url = 'https://www.huizenzoeker.nl/woningmarkt/'

**Noord-Brabant URLS**

The first city_url is used to test out the code (less time-consuming), and the second city_url already works for all municipalities and is used for the end-product.

In [4]:
city_url = ['noord-brabant/veldhoven/','noord-brabant/best/','noord-brabant/eindhoven/'] #to test out the code (less time-consuming)

In [7]:
city_url = ['noord-brabant/alphen-chaam/','noord-brabant/altena/', 'noord-brabant/asten/','noord-brabant/baarle-nassau/','noord-brabant/bergeijk/','noord-brabant/bergen-op-zoom/','noord-brabant/bernheze/','noord-brabant/best/','noord-brabant/bladel/','noord-brabant/boekel/','noord-brabant/boxmeer/','noord-brabant/boxtel/','noord-brabant/breda/','noord-brabant/cranendonck/','noord-brabant/cuijk/','noord-brabant/deurne/','noord-brabant/dongen/','noord-brabant/drimmelen/','noord-brabant/eersel/','noord-brabant/eindhoven/','noord-brabant/etten-leur/','noord-brabant/geertruidenberg/','noord-brabant/geldrop-mierlo/','noord-brabant/gemert-bakel/','noord-brabant/gilze-en-rijen/','noord-brabant/goirle/','noord-brabant/grave/','noord-brabant/halderberge/','noord-brabant/heeze-leende/','noord-brabant/helmond/','noord-brabant/heusden/','noord-brabant/hilvarenbeek/', 'noord-brabant/laarbeek/','noord-brabant/landerd/','noord-brabant/loon-op-zand/','noord-brabant/meierijstad/','noord-brabant/mill-en-sint-hubert/','noord-brabant/moerdijk/','noord-brabant/nuenen,-gerwen-en-nederwetten/','noord-brabant/oirschot/','noord-brabant/oisterwijk/','noord-brabant/oosterhout/','noord-brabant/oss/','noord-brabant/reusel-de-mierden/','noord-brabant/roosendaal/','noord-brabant/rucphen/','noord-brabant/s-hertogenbosch/','noord-brabant/sint-anthonis/','noord-brabant/sint-michielsgestel/','noord-brabant/someren/','noord-brabant/son-en-breugel/','noord-brabant/steenbergen/','noord-brabant/tilburg/','noord-brabant/uden/','noord-brabant/valkenswaard/','noord-brabant/veldhoven/','noord-brabant/vught/','noord-brabant/waalre/','noord-brabant/waalwijk/','noord-brabant/woensdrecht/','noord-brabant/zundert/']

We define a function 'generate_page_urls' to paste together the base_url and city_url, for every municipality in NB, into a complete URL.

In [5]:
def generate_page_urls(base_url,city_url):
    page_urls = []
    for i in city_url:
        full_url = base_url + i
        page_urls.append(full_url)
    return page_urls

In [6]:
page_urls = generate_page_urls(base_url,city_url) #use the function on the base_url and city_url 
print(page_urls) #show that it has worked

['https://www.huizenzoeker.nl/woningmarkt/noord-brabant/veldhoven/', 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/best/', 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/eindhoven/']

## Step 3a: Gather all data for all municipalities: Trend data

For each municipality we now extract the gem. vraagprijs, verkochte woningen, gem.vierkantemeter prijs, % overboden (and how these numbers how changed t.o.v. vorige maand).

### Gemiddelde vraagprijs (Quadrant 1 Trend data)

Extract the gemiddelde vraagprijs, and its % change t.o.v. vorige maand.

**Noord-Brabant data**

We generate a function extract_city_trends that will extract the data of the first quadrant for all municipalities. We adjusted the function to put the % change t.o.v. last month in a seperate column (which looks better in the pandas dataframe, and makes it easier to analyse the data).

In [26]:
def extract_city_trends(page_urls):
    trend_list = []
    for page_url in page_urls:
        res = requests.get(page_url) #HERE WAS A FEEDBACK UPDATE: using driver.get(page_url) instead, and adding time.sleep(5), but I think that maybe only applies to the Selenium solution so that wasn't implemented here!!
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        city_name2 = city_name1.replace(" ",'') #UPDATE: removed space before city name
        trends = soup.find_all(class_='trend-graph')[0].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. Vraagprijs','')
        price,change = new_trend1.split('                ',1)
        price1 = price.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list.append({'City':city_name2, 'Gem. vraagprijs':price1, '%Δ Vraagprijs (t.o.v vorige maand)':change1})
    return(trend_list)

In [27]:
gem_vraagprijs = extract_city_trends(page_urls) #use the function
print(gem_vraagprijs) #check if it works

[{'City': 'Veldhoven', 'Gem. vraagprijs': '€\xa0359,000', '%Δ Vraagprijs (t.o.v vorige maand)': '-16.99%'}, {'City': 'Best', 'Gem. vraagprijs': '€\xa0615,000', '%Δ Vraagprijs (t.o.v vorige maand)': '68.49%'}, {'City': 'Eindhoven', 'Gem. vraagprijs': '€\xa0357,500', '%Δ Vraagprijs (t.o.v vorige maand)': '5.46%'}]

We generate a Pandas dataframe of the data we just collected for all municipalities.

In [28]:
pd.DataFrame(gem_vraagprijs)

        City Gem. vraagprijs %Δ Vraagprijs (t.o.v vorige maand)
0  Veldhoven       € 359,000                            -16.99%
1       Best       € 615,000                             68.49%
2  Eindhoven       € 357,500                              5.46%

### # Verkochte woningen (Quadrant 2 Trend data)

Extract the # of verkochte woningen, and its % change t.o.v. vorige maand.

**Noord-Brabant data**

Again we use a similar function, but now we use it to select data from a different quadrant.

In [29]:
def extract_city_trends1(page_urls):
    trend_list1 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        city_name2 = city_name1.replace(" ",'') #UPDATE: removed space before city name
        trends = soup.find_all(class_='trend-graph')[1].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Verkochte woningen','')
        verkocht,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list1.append({'City':city_name2, 'Verkochte woningen':verkocht, '%Δ Verkocht (t.o.v vorige maand)':change1})
    return(trend_list1)

In [30]:
verk_woningen = extract_city_trends1(page_urls) #use the function
print(verk_woningen) #check if it works

[{'City': 'Veldhoven', 'Verkochte woningen': '12', '%Δ Verkocht (t.o.v vorige maand)': '-45.45%'}, {'City': 'Best', 'Verkochte woningen': '6', '%Δ Verkocht (t.o.v vorige maand)': '-33.33%'}, {'City': 'Eindhoven', 'Verkochte woningen': '51', '%Δ Verkocht (t.o.v vorige maand)': '-46.32%'}]

We generate a Pandas dataframe of the data we just collected for all municipalities.

In [31]:
pd.DataFrame(verk_woningen)

        City Verkochte woningen %Δ Verkocht (t.o.v vorige maand)
0  Veldhoven                 12                          -45.45%
1       Best                  6                          -33.33%
2  Eindhoven                 51                          -46.32%

### Gemiddelde vierkantemeter prijs (Quadrant 3 Trend data)

Extract the gemiddelde vierkante meter prijs, and its % change t.o.v. vorige maand.

**Noord-Brabant data**

In [37]:
def extract_city_trends2(page_urls):
    trend_list2 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        city_name2 = city_name1.replace(" ",'') #UPDATE: removed space before city name
        trends = soup.find_all(class_='trend-graph')[2].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. vierkantemeter prijs','')
        m2prijs,change = new_trend1.split('                ',1)
        m2prijs1 = m2prijs.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list2.append({'City':city_name2, 'Gem. m2 prijs':m2prijs1, '%Δ M2 prijs (t.o.v vorige maand)':change1})
    return(trend_list2)

In [38]:
m2_prijs = extract_city_trends2(page_urls) #use the function 
print(m2_prijs) #check whether it works

[{'City': 'Veldhoven', 'Gem. m2 prijs': '€\xa03,333', '%Δ M2 prijs (t.o.v vorige maand)': '-3.05%'}, {'City': 'Best', 'Gem. m2 prijs': '€\xa03,735', '%Δ M2 prijs (t.o.v vorige maand)': '33.63%'}, {'City': 'Eindhoven', 'Gem. m2 prijs': '€\xa03,571', '%Δ M2 prijs (t.o.v vorige maand)': '8.18%'}]

We generate a Pandas dataframe of the data we just collected for all municipalities.

In [39]:
pd.DataFrame(m2_prijs)

        City Gem. m2 prijs %Δ M2 prijs (t.o.v vorige maand)
0  Veldhoven       € 3,333                           -3.05%
1       Best       € 3,735                           33.63%
2  Eindhoven       € 3,571                            8.18%

### Percentage overboden (Quadrant 4 Trend data)

Extract the % overboden, and its % change t.o.v. vorige maand.

In [49]:
def extract_city_trends3(page_urls):
    trend_list3 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        city_name2 = city_name1.replace(" ",'') #UPDATE: removed space before city name
        trends = soup.find_all(class_='trend-graph')[3].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Percentage overboden','')
        overboden,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list3.append({'City':city_name2, '% Vraagprijs overboden':overboden, '%Δ Overboden (t.o.v vorige maand)': change1})
    return(trend_list3)

In [50]:
perc_overboden = extract_city_trends3(page_urls) #use the function 
print(perc_overboden) #make sure it works

[{'City': 'Veldhoven', '% Vraagprijs overboden': '8.41%', '%Δ Overboden (t.o.v vorige maand)': '0.01%'}, {'City': 'Best', '% Vraagprijs overboden': '8.14%', '%Δ Overboden (t.o.v vorige maand)': '-1.24%'}, {'City': 'Eindhoven', '% Vraagprijs overboden': '10.31%', '%Δ Overboden (t.o.v vorige maand)': '1.01%'}]

We generate a Pandas dataframe of the data we just collected for all municipalities.

In [51]:
pd.DataFrame(perc_overboden)

        City % Vraagprijs overboden %Δ Overboden (t.o.v vorige maand)
0  Veldhoven                  8.41%                             0.01%
1       Best                  8.14%                            -1.24%
2  Eindhoven                 10.31%                             1.01%

## Step 3b: Gather all data for all municipalities: Besteedbaar inkomen and # Inhabitants

For each municipality we now extract the Besteedbaar inkomen per huishouden, the number of inhabitants and its % change t.o.v. the year before.

### Besteedbaar inkomen

**Noord-brabant data**

We generate a function extract_besteedbaar that will extract the data of besteedbaar inkomen per huishouden, for all municipalities.

In [52]:
def extract_besteedbaar(page_urls):
    besteed_inkomen = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        city_name2 = city_name1.replace(" ",'') #UPDATE: removed space before city name
        inkomen = soup.find_all(class_='detail__income huizenzoeker-card single-value-graph-container')[0].get_text()
        new_inkomen = inkomen.replace('\n','')
        new_inkomen1 = new_inkomen.replace('Besteedbaar Inkomen Per Huishouden','')
        new_inkomen2 = new_inkomen1.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        besteed_inkomen.append({'City':city_name2, 'Besteedbaar inkomen (per huishouden)':new_inkomen2})
    return(besteed_inkomen)

In [53]:
besteed_inkomen = extract_besteedbaar(page_urls) #use the function 
print(besteed_inkomen) #check whether it works

[{'City': 'Veldhoven', 'Besteedbaar inkomen (per huishouden)': '€ 42,000'}, {'City': 'Best', 'Besteedbaar inkomen (per huishouden)': '€ 44,500'}, {'City': 'Eindhoven', 'Besteedbaar inkomen (per huishouden)': '€ 31,600'}]

We generate a Pandas dataframe of the data we just collected for all municipalities.

In [54]:
pd.DataFrame(besteed_inkomen)

        City Besteedbaar inkomen (per huishouden)
0  Veldhoven                             € 42,000
1       Best                             € 44,500
2  Eindhoven                             € 31,600

### Inhabitants

**Noord-brabant data**

We generate a function extract_inhabitants that will extract the data of the number of inhabitants for all municipalities, and how this number has changed t.o.v. last year.

_insert code for this still_

## Step 5: Merging all data gathered (by city name)

For the final output (a CSV file, so tabular data) we would want the output of the scraper to be gathered in one single dictionary.

**Noord-brabant data**

Here we name the Pandas Dataframes for each quadrant of the trend data we extracted, and also for the besteedbaar inkomen and inhabitants data. We set the index of the dataframes to the name of the municipality.

In [55]:
df1 = pd.DataFrame(gem_vraagprijs).set_index('City') #gemiddelde vraagprijs

In [56]:
df2 = pd.DataFrame(verk_woningen).set_index('City') #aantal verkochte woningen

In [57]:
df3 = pd.DataFrame(m2_prijs).set_index('City') #vierkantemeter prijs

In [58]:
df4 = pd.DataFrame(perc_overboden).set_index('City') #percentage overboden

In [59]:
df5 = pd.DataFrame(besteed_inkomen).set_index('City') #besteedbaar inkomen

In [60]:
#add a dataframe for the inhabitants data, once finished.

In [61]:
data_frames = [df1,df2,df3,df4,df5] #now we combine the dataframes into one single dataframe

The final output:

In [62]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['City'],how='outer'),data_frames)
df_merged

,Gem. vraagprijs,%Δ Vraagprijs (t.o.v vorige maand),Verkochte woningen,%Δ Verkocht (t.o.v vorige maand),Gem. m2 prijs,%Δ M2 prijs (t.o.v vorige maand),% Vraagprijs overboden,%Δ Overboden (t.o.v vorige maand),Besteedbaar inkomen (per huishouden)
City,,,,,,,,,
Veldhoven,"€ 359,000",-16.99%,12,-45.45%,"€ 3,333",-3.05%,8.41%,0.01%,"€ 42,000"
Best,"€ 615,000",68.49%,6,-33.33%,"€ 3,735",33.63%,8.14%,-1.24%,"€ 44,500"
Eindhoven,"€ 357,500",5.46%,51,-46.32%,"€ 3,571",8.18%,10.31%,1.01%,"€ 31,600"

In [63]:
df_merged.describe()

,Gem. vraagprijs,%Δ Vraagprijs (t.o.v vorige maand),Verkochte woningen,%Δ Verkocht (t.o.v vorige maand),Gem. m2 prijs,%Δ M2 prijs (t.o.v vorige maand),% Vraagprijs overboden,%Δ Overboden (t.o.v vorige maand),Besteedbaar inkomen (per huishouden)
count,3,3,3,3,3,3,3,3,3
unique,3,3,3,3,3,3,3,3,3
top,"€ 359,000",-16.99%,12,-45.45%,"€ 3,333",-3.05%,8.41%,0.01%,"€ 42,000"
freq,1,1,1,1,1,1,1,1,1

## Step 6: Exporting dataframes to CSV

In [69]:
df_merged.to_csv('Huizenzoeker_NB_data1.csv') #UPDATE: new version with the thousand separators changed to ,

## Step 7: Providing summary statistics

**Exporting our output to Rstudio and then importing that CSV here**

First we try to generate some summary statistics by using the output of our scraping data. We can't do this directly as you can see as most variables are seen as characters, while they should be numerics. Therefore we exported the Noord-Brabant data for all municipalities to R to change these datatypes and then export it as CSV to then use it here to generate some summary statistics: count, mean, std, min, max, 25%, 50%, 75%. 
(STATUS: Huizenzoeker.nl used both '.' to indicate thousands and decimals so R is confused whether a value is 2000 or 2.00. We need to fix this issue still in the Rscript to accurately explore the summary statistics!!)

In [67]:
noordbrabant = pd.read_csv('Huizenzoeker_NB_data.csv')

In [68]:
noordbrabant.describe() #STATUS: now only works for 'Verkochte woningen' because all other variables are seen as characters

       Verkochte woningen
count           61.000000
mean            18.442623
std             21.448018
min              2.000000
25%              7.000000
50%             11.000000
75%             18.000000
max             96.000000

In [51]:
#so i wrote an R script to turn the variables from characters into numerics, and saved it as huizen_NB.csv

In [49]:
noordbrabant1 = pd.read_csv('huizen_NB.csv')

In [50]:
noordbrabant1.describe()

,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,346.148557,4.110328,18.442623,-51.583770,3.116016,4.293607,7.220820,1.096557,41.132787
std,77.482364,60.840026,21.448018,16.378496,1.036600,30.467221,3.606782,4.722097,3.589323
min,2.062000,-45.380000,2.000000,-91.300000,2.173000,-30.530000,-0.940000,-9.500000,31.600000
25%,309.000000,-15.520000,7.000000,-62.070000,2.775000,-5.510000,5.090000,-0.880000,38.800000
50%,339.250000,-6.290000,11.000000,-53.760000,2.941000,0.590000,7.030000,0.850000,41.100000
75%,389.000000,6.760000,18.000000,-39.290000,3.294000,9.190000,8.740000,2.450000,43.600000
max,600.000000,450.000000,96.000000,-11.760000,10.612000,223.440000,20.040000,19.860000,47.300000

In [70]:
#UPDATE: the situation now that I changed the thousand delimiters in Python to , (while decimal separator is .)

In [71]:
noordbrabant2 = pd.read_csv('huizen_NB1.csv') #to check this I only included the 3 cities in Noord-Brabant!

In [72]:
noordbrabant2.describe() #I think it works now!! :)

,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,443833.333333,18.986667,23.000000,-41.700000,3546.333333,12.920000,8.953333,-0.073333,39366.666667
std,148236.578932,44.316313,24.433583,7.261673,202.131970,18.793784,1.182638,1.127312,6841.296173
min,357500.000000,-16.990000,6.000000,-46.320000,3333.000000,-3.050000,8.140000,-1.240000,31600.000000
25%,358250.000000,-5.765000,9.000000,-45.885000,3452.000000,2.565000,8.275000,-0.615000,36800.000000
50%,359000.000000,5.460000,12.000000,-45.450000,3571.000000,8.180000,8.410000,0.010000,42000.000000
75%,487000.000000,36.975000,31.500000,-39.390000,3653.000000,20.905000,9.360000,0.510000,43250.000000
max,615000.000000,68.490000,51.000000,-33.330000,3735.000000,33.630000,10.310000,1.010000,44500.000000

**Scraping some mean values at province-level**

We may also use the woningmarkt pages for every province to generate some mean values at province-level for their municipalities (for all variables). We will do this similarly as to how we scraped the data for each municipality of Noord-Brabant, but now thus at province-level (using BeautifulSoup).

Generating links of all provinces:

In [80]:
base_url = 'https://www.huizenzoeker.nl/woningmarkt/'
province_url = ['noord-holland/', 'zuid-holland/', 'zeeland/', 'noord-brabant/', 'utrecht/', 'flevoland/', 
                'friesland/', 'groningen/', 'drenthe/', 'overijssel/', 'gelderland/', 'limburg/']

Defining a function to paste these URL parts together:

In [81]:
def generate_links(base_url,province_url): 
    page_links = []
    for i in province_url:
        full_links = base_url + i
        page_links.append(full_links)  
    return page_links
page_links = generate_links(base_url,province_url)
print(page_links)

['https://www.huizenzoeker.nl/woningmarkt/noord-holland/', 'https://www.huizenzoeker.nl/woningmarkt/zuid-holland/', 'https://www.huizenzoeker.nl/woningmarkt/zeeland/', 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/', 'https://www.huizenzoeker.nl/woningmarkt/utrecht/', 'https://www.huizenzoeker.nl/woningmarkt/flevoland/', 'https://www.huizenzoeker.nl/woningmarkt/friesland/', 'https://www.huizenzoeker.nl/woningmarkt/groningen/', 'https://www.huizenzoeker.nl/woningmarkt/drenthe/', 'https://www.huizenzoeker.nl/woningmarkt/overijssel/', 'https://www.huizenzoeker.nl/woningmarkt/gelderland/', 'https://www.huizenzoeker.nl/woningmarkt/limburg/']

*Gemiddelde vraagprijs:*

In [95]:
def extract_province_trends(page_links): 
    trend_list = []
    for page_link in page_links:
        res = requests.get(page_link)
        soup = BeautifulSoup(res.text, 'html.parser')
        province_name = soup.find_all('h2')[0].get_text()
        province_name1 = province_name.replace('Woningmarkt','')
        province_name2 = province_name1.replace(" ",'') #UPDATE: removed space before province name
        trends = soup.find_all(class_='trend-graph')[0].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. Vraagprijs','')
        price,change = new_trend1.split('                ',1)
        price1 = price.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list.append({'Province':province_name2, 'Gem. vraagprijs':price1, '%Δ Vraagprijs (t.o.v vorige maand)':change1})
    return(trend_list)

In [96]:
mean_vraagprijs = extract_province_trends(page_links) #use the function 
print(mean_vraagprijs) #check if it works

[{'Province': 'Noord-Holland', 'Gem. vraagprijs': '€\xa0445,000', '%Δ Vraagprijs (t.o.v vorige maand)': '18.67%'}, {'Province': 'Zuid-Holland', 'Gem. vraagprijs': '€\xa0360,000', '%Δ Vraagprijs (t.o.v vorige maand)': '7.46%'}, {'Province': 'Zeeland', 'Gem. vraagprijs': '€\xa0269,950', '%Δ Vraagprijs (t.o.v vorige maand)': '-1.75%'}, {'Province': 'Noord-Brabant', 'Gem. vraagprijs': '€\xa0350,000', '%Δ Vraagprijs (t.o.v vorige maand)': '3.24%'}, {'Province': 'Utrecht', 'Gem. vraagprijs': '€\xa0439,000', '%Δ Vraagprijs (t.o.v vorige maand)': '14.03%'}, {'Province': 'Flevoland', 'Gem. vraagprijs': '€\xa0342,500', '%Δ Vraagprijs (t.o.v vorige maand)': '5.38%'}, {'Province': 'Friesland', 'Gem. vraagprijs': '€\xa0289,000', '%Δ Vraagprijs (t.o.v vorige maand)': '3.21%'}, {'Province': 'Groningen', 'Gem. vraagprijs': '€\xa0259,500', '%Δ Vraagprijs (t.o.v vorige maand)': '15.33%'}, {'Province': 'Drenthe', 'Gem. vraagprijs': '€\xa0305,000', '%Δ Vraagprijs (t.o.v vorige maand)': '3.39%'}, {'Province': 'Overijssel', 'Gem. vraagprijs': '€\xa0300,000', '%Δ Vraagprijs (t.o.v vorige maand)': '0.67%'}, {'Province': 'Gelderland', 'Gem. vraagprijs': '€\xa0365,000', '%Δ Vraagprijs (t.o.v vorige maand)': '8.96%'}, {'Province': 'Limburg', 'Gem. vraagprijs': '€\xa0279,000', '%Δ Vraagprijs (t.o.v vorige maand)': '1.45%'}]

In [97]:
pd.DataFrame(mean_vraagprijs)

         Province Gem. vraagprijs %Δ Vraagprijs (t.o.v vorige maand)
0   Noord-Holland       € 445,000                             18.67%
1    Zuid-Holland       € 360,000                              7.46%
2         Zeeland       € 269,950                             -1.75%
3   Noord-Brabant       € 350,000                              3.24%
4         Utrecht       € 439,000                             14.03%
5       Flevoland       € 342,500                              5.38%
6       Friesland       € 289,000                              3.21%
7       Groningen       € 259,500                             15.33%
8         Drenthe       € 305,000                              3.39%
9      Overijssel       € 300,000                              0.67%
10     Gelderland       € 365,000                              8.96%
11        Limburg       € 279,000                              1.45%

*Aantal verkochte woningen:*

In [101]:
def extract_province_trends1(page_links):
    trend_list1 = []
    for page_link in page_links:
        res = requests.get(page_link)
        soup = BeautifulSoup(res.text, 'html.parser')
        province_name = soup.find_all('h2')[0].get_text()
        province_name1 = province_name.replace('Woningmarkt','')
        province_name2 = province_name1.replace(" ",'') #UPDATE: removed space before province name
        trends = soup.find_all(class_='trend-graph')[1].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Verkochte woningen','')
        verkocht,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list1.append({'Province':province_name2, 'Verkochte woningen':verkocht, '%Δ Verkocht (t.o.v vorige maand)':change1})
    return(trend_list1)

In [102]:
mean_verkwoningen = extract_province_trends1(page_links) #use the function
print(mean_verkwoningen) #check if it works

[{'Province': 'Noord-Holland', 'Verkochte woningen': '700', '%Δ Verkocht (t.o.v vorige maand)': '-40.68%'}, {'Province': 'Zuid-Holland', 'Verkochte woningen': '917', '%Δ Verkocht (t.o.v vorige maand)': '-50.38%'}, {'Province': 'Zeeland', 'Verkochte woningen': '127', '%Δ Verkocht (t.o.v vorige maand)': '-50.58%'}, {'Province': 'Noord-Brabant', 'Verkochte woningen': '546', '%Δ Verkocht (t.o.v vorige maand)': '-54.58%'}, {'Province': 'Utrecht', 'Verkochte woningen': '459', '%Δ Verkocht (t.o.v vorige maand)': '-24.63%'}, {'Province': 'Flevoland', 'Verkochte woningen': '111', '%Δ Verkocht (t.o.v vorige maand)': '-52.56%'}, {'Province': 'Friesland', 'Verkochte woningen': '258', '%Δ Verkocht (t.o.v vorige maand)': '-26.07%'}, {'Province': 'Groningen', 'Verkochte woningen': '244', '%Δ Verkocht (t.o.v vorige maand)': '-24.69%'}, {'Province': 'Drenthe', 'Verkochte woningen': '188', '%Δ Verkocht (t.o.v vorige maand)': '-35.62%'}, {'Province': 'Overijssel', 'Verkochte woningen': '350', '%Δ Verkocht (t.o.v vorige maand)': '-30.42%'}, {'Province': 'Gelderland', 'Verkochte woningen': '538', '%Δ Verkocht (t.o.v vorige maand)': '-46.25%'}, {'Province': 'Limburg', 'Verkochte woningen': '289', '%Δ Verkocht (t.o.v vorige maand)': '-47.26%'}]

In [103]:
pd.DataFrame(mean_verkwoningen)

         Province Verkochte woningen %Δ Verkocht (t.o.v vorige maand)
0   Noord-Holland                700                          -40.68%
1    Zuid-Holland                917                          -50.38%
2         Zeeland                127                          -50.58%
3   Noord-Brabant                546                          -54.58%
4         Utrecht                459                          -24.63%
5       Flevoland                111                          -52.56%
6       Friesland                258                          -26.07%
7       Groningen                244                          -24.69%
8         Drenthe                188                          -35.62%
9      Overijssel                350                          -30.42%
10     Gelderland                538                          -46.25%
11        Limburg                289                          -47.26%

*Gemiddelde vierkante meter prijs:*

In [104]:
def extract_province_trends2(page_links):
    trend_list2 = []
    for page_link in page_links:
        res = requests.get(page_link)
        soup = BeautifulSoup(res.text, 'html.parser')
        province_name = soup.find_all('h2')[0].get_text()
        province_name1 = province_name.replace('Woningmarkt','')
        province_name2 = province_name1.replace(" ",'') #UPDATE: removed space before province name
        trends = soup.find_all(class_='trend-graph')[2].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. vierkantemeter prijs','')
        m2prijs,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        m2prijs1 = m2prijs.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        trend_list2.append({'Province':province_name2, 'Gem. m2 prijs':m2prijs1, '%Δ M2 prijs (t.o.v vorige maand)':change1})
    return(trend_list2)

In [105]:
mean_m2prijs = extract_province_trends2(page_links) #use the function 
print(mean_m2prijs) #check whether it works

[{'Province': 'Noord-Holland', 'Gem. m2 prijs': '€\xa04,527', '%Δ M2 prijs (t.o.v vorige maand)': '11.28%'}, {'Province': 'Zuid-Holland', 'Gem. m2 prijs': '€\xa03,626', '%Δ M2 prijs (t.o.v vorige maand)': '5.84%'}, {'Province': 'Zeeland', 'Gem. m2 prijs': '€\xa02,627', '%Δ M2 prijs (t.o.v vorige maand)': '2.58%'}, {'Province': 'Noord-Brabant', 'Gem. m2 prijs': '€\xa03,214', '%Δ M2 prijs (t.o.v vorige maand)': '5.97%'}, {'Province': 'Utrecht', 'Gem. m2 prijs': '€\xa04,200', '%Δ M2 prijs (t.o.v vorige maand)': '4.30%'}, {'Province': 'Flevoland', 'Gem. m2 prijs': '€\xa02,941', '%Δ M2 prijs (t.o.v vorige maand)': '-0.47%'}, {'Province': 'Friesland', 'Gem. m2 prijs': '€\xa02,450', '%Δ M2 prijs (t.o.v vorige maand)': '-1.21%'}, {'Province': 'Groningen', 'Gem. m2 prijs': '€\xa02,572', '%Δ M2 prijs (t.o.v vorige maand)': '9.12%'}, {'Province': 'Drenthe', 'Gem. m2 prijs': '€\xa02,475', '%Δ M2 prijs (t.o.v vorige maand)': '0.69%'}, {'Province': 'Overijssel', 'Gem. m2 prijs': '€\xa02,734', '%Δ M2 prijs (t.o.v vorige maand)': '4.95%'}, {'Province': 'Gelderland', 'Gem. m2 prijs': '€\xa03,134', '%Δ M2 prijs (t.o.v vorige maand)': '2.59%'}, {'Province': 'Limburg', 'Gem. m2 prijs': '€\xa02,481', '%Δ M2 prijs (t.o.v vorige maand)': '5.40%'}]

In [106]:
pd.DataFrame(mean_m2prijs)

         Province Gem. m2 prijs %Δ M2 prijs (t.o.v vorige maand)
0   Noord-Holland       € 4,527                           11.28%
1    Zuid-Holland       € 3,626                            5.84%
2         Zeeland       € 2,627                            2.58%
3   Noord-Brabant       € 3,214                            5.97%
4         Utrecht       € 4,200                            4.30%
5       Flevoland       € 2,941                           -0.47%
6       Friesland       € 2,450                           -1.21%
7       Groningen       € 2,572                            9.12%
8         Drenthe       € 2,475                            0.69%
9      Overijssel       € 2,734                            4.95%
10     Gelderland       € 3,134                            2.59%
11        Limburg       € 2,481                            5.40%

*Percentage overboden:*

In [107]:
def extract_province_trends3(page_links):
    trend_list3 = []
    for page_link in page_links:
        res = requests.get(page_link)
        soup = BeautifulSoup(res.text, 'html.parser')
        province_name = soup.find_all('h2')[0].get_text()
        province_name1 = province_name.replace('Woningmarkt','')
        province_name2 = province_name1.replace(" ",'') #UPDATE: removed space before province name
        trends = soup.find_all(class_='trend-graph')[3].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Percentage overboden','')
        overboden,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list3.append({'Province':province_name2, '% Vraagprijs overboden':overboden, '%Δ Overboden (t.o.v vorige maand)': change1})
    return(trend_list3)

In [108]:
mean_overboden = extract_province_trends3(page_links) #use the function 
print(mean_overboden) #make sure it works

[{'Province': 'Noord-Holland', '% Vraagprijs overboden': '12.66%', '%Δ Overboden (t.o.v vorige maand)': '1.08%'}, {'Province': 'Zuid-Holland', '% Vraagprijs overboden': '10.21%', '%Δ Overboden (t.o.v vorige maand)': '0.77%'}, {'Province': 'Zeeland', '% Vraagprijs overboden': '8.13%', '%Δ Overboden (t.o.v vorige maand)': '0.13%'}, {'Province': 'Noord-Brabant', '% Vraagprijs overboden': '7.87%', '%Δ Overboden (t.o.v vorige maand)': '0.88%'}, {'Province': 'Utrecht', '% Vraagprijs overboden': '11.97%', '%Δ Overboden (t.o.v vorige maand)': '0.77%'}, {'Province': 'Flevoland', '% Vraagprijs overboden': '14.71%', '%Δ Overboden (t.o.v vorige maand)': '1.08%'}, {'Province': 'Friesland', '% Vraagprijs overboden': '10.64%', '%Δ Overboden (t.o.v vorige maand)': '1.94%'}, {'Province': 'Groningen', '% Vraagprijs overboden': '15.76%', '%Δ Overboden (t.o.v vorige maand)': '1.33%'}, {'Province': 'Drenthe', '% Vraagprijs overboden': '10.49%', '%Δ Overboden (t.o.v vorige maand)': '1.41%'}, {'Province': 'Overijssel', '% Vraagprijs overboden': '9.83%', '%Δ Overboden (t.o.v vorige maand)': '1.36%'}, {'Province': 'Gelderland', '% Vraagprijs overboden': '10.55%', '%Δ Overboden (t.o.v vorige maand)': '0.49%'}, {'Province': 'Limburg', '% Vraagprijs overboden': '8.87%', '%Δ Overboden (t.o.v vorige maand)': '0.73%'}]

In [109]:
pd.DataFrame(mean_overboden)

         Province % Vraagprijs overboden %Δ Overboden (t.o.v vorige maand)
0   Noord-Holland                 12.66%                             1.08%
1    Zuid-Holland                 10.21%                             0.77%
2         Zeeland                  8.13%                             0.13%
3   Noord-Brabant                  7.87%                             0.88%
4         Utrecht                 11.97%                             0.77%
5       Flevoland                 14.71%                             1.08%
6       Friesland                 10.64%                             1.94%
7       Groningen                 15.76%                             1.33%
8         Drenthe                 10.49%                             1.41%
9      Overijssel                  9.83%                             1.36%
10     Gelderland                 10.55%                             0.49%
11        Limburg                  8.87%                             0.73%

*Besteedbaar inkomen:*

In [110]:
def extract_besteedbaar(page_links):
    besteed_inkomen = []
    for page_link in page_links:
        res = requests.get(page_link)
        soup = BeautifulSoup(res.text, 'html.parser')
        province_name = soup.find_all('h2')[0].get_text()
        province_name1 = province_name.replace('Woningmarkt','')
        province_name2 = province_name1.replace(" ",'') #UPDATE: removed space before province name
        inkomen = soup.find_all(class_='detail__income huizenzoeker-card single-value-graph-container')[0].get_text()
        new_inkomen = inkomen.replace('\n','')
        new_inkomen1 = new_inkomen.replace('Besteedbaar Inkomen Per Huishouden','')
        new_inkomen2 = new_inkomen1.replace('.',',') #UPDATE: changed thousand separators to , instead of . 
        besteed_inkomen.append({'Province':province_name2, 'Besteedbaar inkomen (per huishouden)':new_inkomen2})
    return(besteed_inkomen)

In [111]:
mean_inkomen = extract_besteedbaar(page_links) #use the function 
print(mean_inkomen) #check whether it works

[{'Province': 'Noord-Holland', 'Besteedbaar inkomen (per huishouden)': '€ 36,200'}, {'Province': 'Zuid-Holland', 'Besteedbaar inkomen (per huishouden)': '€ 35,800'}, {'Province': 'Zeeland', 'Besteedbaar inkomen (per huishouden)': '€ 36,900'}, {'Province': 'Noord-Brabant', 'Besteedbaar inkomen (per huishouden)': '€ 38,100'}, {'Province': 'Utrecht', 'Besteedbaar inkomen (per huishouden)': '€ 39,500'}, {'Province': 'Flevoland', 'Besteedbaar inkomen (per huishouden)': '€ 39,500'}, {'Province': 'Friesland', 'Besteedbaar inkomen (per huishouden)': '€ 34,900'}, {'Province': 'Groningen', 'Besteedbaar inkomen (per huishouden)': '€ 30,600'}, {'Province': 'Drenthe', 'Besteedbaar inkomen (per huishouden)': '€ 37,100'}, {'Province': 'Overijssel', 'Besteedbaar inkomen (per huishouden)': '€ 36,900'}, {'Province': 'Gelderland', 'Besteedbaar inkomen (per huishouden)': '€ 37,500'}, {'Province': 'Limburg', 'Besteedbaar inkomen (per huishouden)': '€ 34,800'}]

In [112]:
pd.DataFrame(mean_inkomen)

         Province Besteedbaar inkomen (per huishouden)
0   Noord-Holland                             € 36,200
1    Zuid-Holland                             € 35,800
2         Zeeland                             € 36,900
3   Noord-Brabant                             € 38,100
4         Utrecht                             € 39,500
5       Flevoland                             € 39,500
6       Friesland                             € 34,900
7       Groningen                             € 30,600
8         Drenthe                             € 37,100
9      Overijssel                             € 36,900
10     Gelderland                             € 37,500
11        Limburg                             € 34,800

*Merging the dataframes:*

In [113]:
df1 = pd.DataFrame(mean_vraagprijs).set_index('Province') #gemiddelde vraagprijs
df2 = pd.DataFrame(mean_verkwoningen).set_index('Province') #aantal verkochte woningen
df3 = pd.DataFrame(mean_m2prijs).set_index('Province') #gemiddelde m2 prijs
df4 = pd.DataFrame(mean_overboden).set_index('Province') #percentage overboden
df5 = pd.DataFrame(mean_inkomen).set_index('Province') #besteedbaar inkomen
#add a dataframe for the inhabitants data, once finished.

In [114]:
data_frames = [df1,df2,df3,df4,df5] #now we combine the dataframes into one single dataframe

In [115]:
df_province_summary = reduce(lambda left,right: pd.merge(left,right,on=['Province'],how='outer'),data_frames)
df_province_summary

,Gem. vraagprijs,%Δ Vraagprijs (t.o.v vorige maand),Verkochte woningen,%Δ Verkocht (t.o.v vorige maand),Gem. m2 prijs,%Δ M2 prijs (t.o.v vorige maand),% Vraagprijs overboden,%Δ Overboden (t.o.v vorige maand),Besteedbaar inkomen (per huishouden)
Province,,,,,,,,,
Noord-Holland,"€ 445,000",18.67%,700,-40.68%,"€ 4,527",11.28%,12.66%,1.08%,"€ 36,200"
Zuid-Holland,"€ 360,000",7.46%,917,-50.38%,"€ 3,626",5.84%,10.21%,0.77%,"€ 35,800"
Zeeland,"€ 269,950",-1.75%,127,-50.58%,"€ 2,627",2.58%,8.13%,0.13%,"€ 36,900"
Noord-Brabant,"€ 350,000",3.24%,546,-54.58%,"€ 3,214",5.97%,7.87%,0.88%,"€ 38,100"
Utrecht,"€ 439,000",14.03%,459,-24.63%,"€ 4,200",4.30%,11.97%,0.77%,"€ 39,500"
Flevoland,"€ 342,500",5.38%,111,-52.56%,"€ 2,941",-0.47%,14.71%,1.08%,"€ 39,500"
Friesland,"€ 289,000",3.21%,258,-26.07%,"€ 2,450",-1.21%,10.64%,1.94%,"€ 34,900"
Groningen,"€ 259,500",15.33%,244,-24.69%,"€ 2,572",9.12%,15.76%,1.33%,"€ 30,600"
Drenthe,"€ 305,000",3.39%,188,-35.62%,"€ 2,475",0.69%,10.49%,1.41%,"€ 37,100"
Overijssel,"€ 300,000",0.67%,350,-30.42%,"€ 2,734",4.95%,9.83%,1.36%,"€ 36,900"
Gelderland,"€ 365,000",8.96%,538,-46.25%,"€ 3,134",2.59%,10.55%,0.49%,"€ 37,500"
Limburg,"€ 279,000",1.45%,289,-47.26%,"€ 2,481",5.40%,8.87%,0.73%,"€ 34,800"