## Scraping www.huizenzoeker.nl/woningmarkt/ for several municipalities in North-Brabant

### 1: Load all the basics

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import re

In [4]:
url = 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/veldhoven/'

In [5]:
res = requests.get(url)

In [6]:
soup = BeautifulSoup(res.text, 'html.parser')

### 2: Collect the URLS we want to scrape from

#### First using base_url + variable_url

In [208]:
base_url = 'https://www.huizenzoeker.nl/woningmarkt/' #scrape municipalities of NB

In [217]:
city_url = ['noord-brabant/veldhoven/','noord-brabant/best/','noord-brabant/eindhoven/']

##### (Next line tried to scrape all cities of Noord-Brabant (not working yet:maybe typo somewhere) )

In [209]:
city_url = ['noord-brabant/alphen-caam/','noord-brabant/altena/','noord-brabant/asten/','noord-brabant/baarle-nassau/','noord-brabant/bergeijk/','noord-brabant/bergen-op-zoom/','noord-brabant/bernheze/','noord-brabant/best/','noord-brabant/bladel/','noord-brabant/boekel/','noord-brabant/boxmeer/','noord-brabant/boxtel/','noord-brabant/breda/','noord-brabant/cranendonck/','noord-brabant/cuijk/','noord-brabant/deurne/','noord-brabant/dongen/','noord-brabant/drimmelen/','noord-brabant/eersel/','noord-brabant/eindhoven/','noord-brabant/etten-leur/','noord-brabant/geertruidenberg/','noord-brabant/geldrop-mierlo/','noord-brabant/gemert-bakel/','noord-brabant/gilze-en-rijen/','noord-brabant/goirle/','noord-brabant/grave/','noord-brabant/halderberge/','noord-brabant/heeze-leende/','noord-brabant/helmond/','noord-brabant/heusden/','noord-brabant/hilvarenbeek/','noord-brabant/laarbeek/','noord-brabant/landerd/','noord-brabant/loon-op-zand/','noord-brabant/meierijstad/','noord-brabant/mill-en-sint-hubert/','noord-brabant/moerdijk/','noord-brabant/nuenen,-gerwen-en-nederwetten/','noord-brabant/oirschot/','noord-brabant/oisterwijk/','noord-brabant/oosterhout/','noord-brabant/oss/','noord-brabant/reusel-de-mierden/','noord-brabant/roosendaal/','noord-brabant/rucphen/','noord-brabant/s-hertogenbosch/','noord-brabant/sint-anthonis/','noord-brabant/sint-michielsgestel/','noord-brabant/someren/','noord-brabant/son-en-breugel/','noord-brabant/steenbergen/','noord-brabant/tilburg/','noord-brabant/uden/','noord-brabant/valkenswaard/','noord-brabant/veldhoven/','noord-brabant/vught/','noord-brabant/waalre/','noord-brabant/waalwijk/','noord-brabant/woensdrecht/','noord-brabant/zundert/'] #list of municipalities in NB we want to scrape data from

##### (From this line, everything works again if you use the first city_url = ...)

In [218]:
print(city_url)

['noord-brabant/veldhoven/', 'noord-brabant/best/', 'noord-brabant/eindhoven/']

In [219]:
def generate_page_urls(base_url,city_url): #function to generate a list of full_urls of the municipalities
    page_urls = []
    for i in city_url:
        full_url = base_url + i
        page_urls.append(full_url)
    return page_urls

In [220]:
generate_page_urls(base_url,city_url)

['https://www.huizenzoeker.nl/woningmarkt/noord-brabant/veldhoven/',
 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/best/',
 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/eindhoven/']

In [221]:
page_urls = generate_page_urls(base_url,city_url)

In [222]:
print(page_urls)

['https://www.huizenzoeker.nl/woningmarkt/noord-brabant/veldhoven/', 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/best/', 'https://www.huizenzoeker.nl/woningmarkt/noord-brabant/eindhoven/']

#### Or we can scrape the links from the base_url page without constructing the URL ourselves

##### Yes, so maybe this method will work better as the other method may be more sensitive to typos when plugging in all city names..

In [225]:
#insert code

### 3: Create a dictionary with lists for each municipality with info on each quadrant of the trend data

#### For info on the 'Gemiddelde vraagprijs' (quadrant 1)

In [223]:
def extract_city_trends(page_urls):
    trend_list = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[0].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = trends.replace('Gem. Vraagprijs','')
        new_trend2 = '  '.join(new_trend1.split())
        trend_list.append({'City':city_name1, 'Gem. Vraagprijs':new_trend2})
    return(trend_list)

In [224]:
gem_vraagprijs = extract_city_trends(page_urls)

In [40]:
print(gem_vraagprijs)

[{'City': ' Veldhoven', 'Gem. Vraagprijs': '€  436.000  15.04%  t.o.v.  vorige  maand'}, {'City': ' Best', 'Gem. Vraagprijs': '€  345.000  -21.50%  t.o.v.  vorige  maand'}, {'City': ' Eindhoven', 'Gem. Vraagprijs': '€  339.000  -9.72%  t.o.v.  vorige  maand'}]

In [68]:
pd.DataFrame(gem_vraagprijs)

         City                             Gem. Vraagprijs
0   Veldhoven   €  436.000  15.04%  t.o.v.  vorige  maand
1        Best  €  345.000  -21.50%  t.o.v.  vorige  maand
2   Eindhoven   €  339.000  -9.72%  t.o.v.  vorige  maand

##### Now we want to have the '% change t.o.v. vorige maand' in a separate column

In [158]:
def extract_city_trends(page_urls):
    trend_list = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[0].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. Vraagprijs','')
        price,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list.append({'City':city_name1, 'Gem. vraagprijs':price, '%Δ Vraagprijs (t.o.v vorige maand)':change1})
    return(trend_list)

In [159]:
gem_vraagprijs2 = extract_city_trends(page_urls)

In [160]:
pd.DataFrame(gem_vraagprijs2)

         City Gem. vraagprijs %Δ Vraagprijs (t.o.v vorige maand)
0   Veldhoven       € 436.000                             15.04%
1        Best       € 345.000                            -21.50%
2   Eindhoven       € 339.000                             -9.72%

#### For info on the 'Verkochte woningen' (quadrant 2)

In [30]:
def extract_city_trends1(page_urls):
    trend_list1 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[1].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = trends.replace('Verkochte woningen','')
        new_trend2 = '  '.join(new_trend1.split())
        trend_list1.append({'City':city_name1, 'Verkochte woningen':new_trend2})
    return(trend_list1)

In [41]:
verk_woningen = extract_city_trends1(page_urls)

In [42]:
print(verk_woningen)

[{'City': ' Veldhoven', 'Verkochte woningen': '19  -51.28%  t.o.v.  vorige  maand'}, {'City': ' Best', 'Verkochte woningen': '8  -73.33%  t.o.v.  vorige  maand'}, {'City': ' Eindhoven', 'Verkochte woningen': '85  -59.72%  t.o.v.  vorige  maand'}]

In [67]:
pd.DataFrame(verk_woningen)

         City                  Verkochte woningen
0   Veldhoven  19  -51.28%  t.o.v.  vorige  maand
1        Best   8  -73.33%  t.o.v.  vorige  maand
2   Eindhoven  85  -59.72%  t.o.v.  vorige  maand

##### Now we want to have the % change t.o.v. vorige maand in a separate column

In [161]:
def extract_city_trends1(page_urls):
    trend_list1 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[1].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Verkochte woningen','')
        verkocht,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list1.append({'City':city_name1, 'Verkochte woningen':verkocht, '%Δ Verkocht (t.o.v vorige maand)':change1})
    return(trend_list1)

In [171]:
verk_woningen2 = extract_city_trends1(page_urls)

In [172]:
pd.DataFrame(verk_woningen2)

         City Verkochte woningen %Δ Verkocht (t.o.v vorige maand)
0   Veldhoven                 19                          -51.28%
1        Best                  8                          -73.33%
2   Eindhoven                 85                          -59.72%

#### For info on the 'Gem. Vierkantemeter prijs' (quadrant 3)

In [122]:
def extract_city_trends2(page_urls):
    trend_list2 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[2].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = trends.replace('Gem. vierkantemeter prijs','')
        new_trend2 = '  '.join(new_trend1.split())
        trend_list2.append({'City':city_name1, 'Gem. m2 prijs':new_trend2})
    return(trend_list2)

In [123]:
m2_prijs = extract_city_trends2(page_urls)

In [124]:
print(m2_prijs)

[{'City': ' Veldhoven', 'Gem. m2 prijs': '€  3.557  1.05%  t.o.v.  vorige  maand'}, {'City': ' Best', 'Gem. m2 prijs': '€  2.893  -8.13%  t.o.v.  vorige  maand'}, {'City': ' Eindhoven', 'Gem. m2 prijs': '€  3.342  0.51%  t.o.v.  vorige  maand'}]

In [125]:
pd.DataFrame(m2_prijs)

         City                            Gem. m2 prijs
0   Veldhoven   €  3.557  1.05%  t.o.v.  vorige  maand
1        Best  €  2.893  -8.13%  t.o.v.  vorige  maand
2   Eindhoven   €  3.342  0.51%  t.o.v.  vorige  maand

##### Now we want to have the % change t.o.v. vorige maand in a separate column

In [152]:
def extract_city_trends2(page_urls):
    trend_list2 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[2].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Gem. vierkantemeter prijs','')
        m2prijs,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list2.append({'City':city_name1, 'Gem. m2 prijs':m2prijs, '%Δ M2 prijs (t.o.v vorige maand)':change1})
    return(trend_list2)

In [153]:
m2_prijs2 = extract_city_trends2(page_urls)

In [154]:
pd.DataFrame(m2_prijs2)

         City Gem. m2 prijs %Δ M2 prijs (t.o.v vorige maand)
0   Veldhoven       € 3.557                            1.05%
1        Best       € 2.893                           -8.13%
2   Eindhoven       € 3.342                            0.51%

#### For info on 'Percentage overboden' (quadrant 4)

In [34]:
def extract_city_trends3(page_urls):
    trend_list3 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[3].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = trends.replace('Percentage overboden','')
        new_trend2 = '  '.join(new_trend1.split())
        trend_list3.append({'City':city_name1, 'Percentage overboden':new_trend2})
    return(trend_list3)

In [48]:
perc_overboden = extract_city_trends3(page_urls)

In [49]:
print(perc_overboden)

[{'City': ' Veldhoven', 'Percentage overboden': '8.41%  0.01%  t.o.v.  vorige  maand'}, {'City': ' Best', 'Percentage overboden': '8.14%  -1.24%  t.o.v.  vorige  maand'}, {'City': ' Eindhoven', 'Percentage overboden': '10.31%  1.01%  t.o.v.  vorige  maand'}]

In [65]:
pd.DataFrame(perc_overboden)

         City                  Percentage overboden
0   Veldhoven   8.41%  0.01%  t.o.v.  vorige  maand
1        Best  8.14%  -1.24%  t.o.v.  vorige  maand
2   Eindhoven  10.31%  1.01%  t.o.v.  vorige  maand

##### Now we want to have the % change t.o.v. vorige maand in a separate column

In [155]:
def extract_city_trends3(page_urls):
    trend_list3 = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        trends = soup.find_all(class_='trend-graph')[3].get_text()
        new_trend = trends.replace('\n','')
        new_trend1 = new_trend.replace('Percentage overboden','')
        overboden,change = new_trend1.split('                ',1)
        change1 = change.replace(' t.o.v. vorige maand            ', '')
        trend_list3.append({'City':city_name1, '% Vraagprijs overboden':overboden, '%Δ Overboden (t.o.v vorige maand)': change1})
    return(trend_list3)

In [173]:
perc_overboden2 = extract_city_trends3(page_urls)

In [174]:
pd.DataFrame(perc_overboden2)

         City % Vraagprijs overboden %Δ Overboden (t.o.v vorige maand)
0   Veldhoven                  8.41%                             0.01%
1        Best                  8.14%                            -1.24%
2   Eindhoven                 10.31%                             1.01%

### 4: Create a dictionary with lists for each municipality with info on 'Besteedbaar inkomen'

#### For info on 'Besteedbaar inkomen per huishouden'

In [164]:
def extract_besteedbaar(page_urls):
    besteed_inkomen = []
    for page_url in page_urls:
        res = requests.get(page_url)
        soup = BeautifulSoup(res.text, 'html.parser')
        city_name = soup.find_all('h2')[0].get_text()
        city_name1 = city_name.replace('Woningmarkt','')
        inkomen = soup.find_all(class_='detail__income huizenzoeker-card single-value-graph-container')[0].get_text()
        new_inkomen = inkomen.replace('\n','')
        new_inkomen1 = new_inkomen.replace('Besteedbaar Inkomen Per Huishouden','')
        besteed_inkomen.append({'City':city_name1, 'Besteedbaar inkomen (per huishouden)':new_inkomen1})
    return(besteed_inkomen)

In [165]:
besteed_inkomen = extract_besteedbaar(page_urls)

In [166]:
print(besteed_inkomen)

[{'City': ' Veldhoven', 'Besteedbaar inkomen (per huishouden)': '€ 42.000'}, {'City': ' Best', 'Besteedbaar inkomen (per huishouden)': '€ 44.500'}, {'City': ' Eindhoven', 'Besteedbaar inkomen (per huishouden)': '€ 31.600'}]

In [167]:
pd.DataFrame(besteed_inkomen) #creates a table of the data we just scraped

         City Besteedbaar inkomen (per huishouden)
0   Veldhoven                             € 42.000
1        Best                             € 44.500
2   Eindhoven                             € 31.600

### 5: Merge dictionaries by the city name

##### Lets try again with the new functions

In [188]:
import pandas as pd

In [189]:
df1 = pd.DataFrame(gem_vraagprijs2).set_index('City')

In [190]:
df2 = pd.DataFrame(verk_woningen2).set_index('City')

In [177]:
df = df1.merge(df2, left_index=True, right_index = True) #merges gem_vraagprijs2 and verk_woningen2

In [183]:
full_dict = df.to_dict()

In [184]:
pd.DataFrame(full_dict) #here we have the cities as rows, and the data variables as columns

,Gem. vraagprijs,%Δ Vraagprijs (t.o.v vorige maand),Verkochte woningen,%Δ Verkocht (t.o.v vorige maand)
Veldhoven,€ 436.000,15.04%,19,-51.28%
Best,€ 345.000,-21.50%,8,-73.33%
Eindhoven,€ 339.000,-9.72%,85,-59.72%

In [185]:
new_dict = df.T.to_dict()

In [186]:
pd.DataFrame(new_dict) #or have the variables as rows, and cities as columns (but the former looks better imo)

                                    Veldhoven       Best  Eindhoven
Gem. vraagprijs                     € 436.000  € 345.000  € 339.000
%Δ Vraagprijs (t.o.v vorige maand)     15.04%    -21.50%     -9.72%
Verkochte woningen                         19          8         85
%Δ Verkocht (t.o.v vorige maand)      -51.28%    -73.33%    -59.72%

##### Now we want to add the other dictionaries too (merge all together)

In [191]:
df3 = pd.DataFrame(m2_prijs2).set_index('City')

In [193]:
df4 = pd.DataFrame(perc_overboden2).set_index('City')

In [203]:
df5 = pd.DataFrame(besteed_inkomen).set_index('City')

In [204]:
data_frames = [df1,df2,df3,df4,df5]

In [205]:
from functools import reduce

In [206]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['City'],how='outer'),data_frames)

In [207]:
df_merged #combines all data

,Gem. vraagprijs,%Δ Vraagprijs (t.o.v vorige maand),Verkochte woningen,%Δ Verkocht (t.o.v vorige maand),Gem. m2 prijs,%Δ M2 prijs (t.o.v vorige maand),% Vraagprijs overboden,%Δ Overboden (t.o.v vorige maand),Besteedbaar inkomen (per huishouden)
City,,,,,,,,,
Veldhoven,€ 436.000,15.04%,19,-51.28%,€ 3.557,1.05%,8.41%,0.01%,€ 42.000
Best,€ 345.000,-21.50%,8,-73.33%,€ 2.893,-8.13%,8.14%,-1.24%,€ 44.500
Eindhoven,€ 339.000,-9.72%,85,-59.72%,€ 3.342,0.51%,10.31%,1.01%,€ 31.600